
.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5%;
    align-items: center;
    
}
.our-services{
    margin-top: 5% !important ;
}
@media all and (max-width: 768px){
    .services{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
    align-items: center;
     
}
.services-body{
    margin-top: 15%;
}
}