.card-review{
    height: 500px !important;
    overflow: scroll;
    border-radius: 15px !important;
    box-shadow: 10px 10px 15px rgba(201, 197, 197,.5);
}
.card-review img{
    width: 40%;
    border-radius: 30px ;
}