.card1{
    
    border-radius: 15px !important ; 
    box-shadow: 10px 10px 15px rgb(240, 238, 238);
}
.card1 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.roundedManual{
    border-radius: 15px !important;
}
.btn{
    background-color: rgb(255, 199, 96) !important;
    font-size: 20px !important;
    color: black !important;
    font-weight: 500 !important;
}

