.footer-body{
    text-align: center;
    background-color: rgb(211, 210, 210);
    margin-top: 20%;
    margin-bottom: -20px;
    padding:20px 40px;
}
.social-icon{
    margin: 10px !important;
    
}