.btn-social-login{
    border: none !important;
    border-radius: 15px !important;
    padding: 20px 40px !important;
    background-color: rgb(242, 200, 122) !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    
}