.about-me{
    background-color: rgb(228, 224, 224);
    padding: 30px 50px !important;
    border-radius: 20px;
}
.time-button{
    border: none !important;
    margin: 5px !important;
    border-radius: 10px !important;
    background-color: black !important;
    color: white !important;
}
.time-button:focus{
    
    background-color: white !important;
    color: black !important;
    border: none;
}
.pick-a-time{
    border: 2px solid rgb(177, 177, 177);
    padding: 10px;
    border-radius: 20px;
    margin-right: 50%;
}
.book-now-btn{
    background-color: black !important;
    color: white !important;
    border-radius: 10px !important;
}